/* Set the block width (default: 780px) */
:root {
    --block-width: 100%;
}

/* Apply the block width to EditorJS elements */
.ce-block__content,  /* Content inside each block */
.ce-block,           /* The block wrapper */
.ce-toolbar__content {
    /* Toolbar content for editing */
    max-width: var(--block-width);
    width: var(--block-width);
    margin: 0;
}

.ce-block {
    padding-left: 60px;
}

@media (max-width: 640px) {
    .ce-block {
        padding-left: 0px;
    }
}

/* Main editing area */
.codex-editor__redactor {
    width: 100%;
    padding-bottom: 4rem !important;
}

.ce-toolbar__actions {
    left: 0px;
    right: 100% !important;
}

.ce-title-block:empty::before {
    content: "Enter title...";
    color: #9ca3af;
    pointer-events: none;
}
