pre[class*="language-"],
code[class*="language-"],
.token {
    background: #303030 !important;
}

.editorjs-content code .inline-code {
    background: #303030;
    color: white;
    padding: 4px 8px;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
.token::selection {
    background: rgba(154, 170, 222, 0.2) !important;
    color: inherit;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
.token::-moz-selection {
    background: rgba(145, 152, 217, 0.2) !important;
    color: inherit;
}

.editorjs code::selection {
    color: #1e293b;
}

.inline-code {
    background-color: #f2f2f2;
    color: #da1039;
    font-family: monospace;
    padding: 2px 6px;
}
