.title {
    font-size: 32px;
    font-weight: bold;
    color: #0f172b;
}

@media (min-width: 768px) {
    .title {
        font-size: 42px;
    }
}

.editorjs h1,
.editorjs h2,
.editorjs h3,
.editorjs h4,
.editorjs h5,
.editorjs h6 {
    font-weight: 700;
    padding: 2rem 0 1rem 0;
    color: #1e293b;
}

.editorjs .title {
    padding-bottom: 1rem;
}

.editorjs h1 {
    font-size: 2rem;
}

.editorjs h2 {
    font-size: 1.75rem;
}

.editorjs h3 {
    font-size: 1.5rem;
}

.editorjs h4 {
    font-size: 1.25rem;
}

.editorjs-content b {
    color: #1d293d;
    font-weight: 600;
}

/* .editorjs ul:not(ul ul),
.editorjs ol:not(ol ol) {
    margin-bottom: 1.25rem;
} */

.editorjs .ce-paragraph {
    font-size: 16px;
    color: #45556c;
}

.editorjs ul,
.editorjs ol {
    padding-left: 1.5rem;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
}
.editorjs ul {
    list-style-type: disc;
}
.editorjs ol {
    list-style-type: decimal;
}

.editorjs ul li::marker,
.editorjs ol li::marker {
    color: #1f2937;
}

@media (min-width: 640px) {
    .editorjs .ce-paragraph {
        font-size: 18px;
    }
    .editorjs ul,
    .editorjs ol {
        padding-left: 1.75rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
