.hide-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.no-scroll {
    overflow: hidden;
}

.section-m-h {
    min-height: calc(100vh - 104.5px);
}

.infinite-scroll-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.infinite-scroll-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.noselect {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For old IE */
}

.rdp-selected .rdp-day_button {
    border: 2px solid #4f39f6 !important;
}

.rdp-month_caption .rdp-caption_label {
    color: #101828;
}

.rdp-chevron {
    fill: #4f39f6 !important;
}
