.hide-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.no-scroll {
    overflow: hidden;
}

.section-m-h {
    min-height: calc(100vh - 120px);
}

.infinite-scroll-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.infinite-scroll-item.visible {
    opacity: 1;
    transform: translateY(0);
}
