$whiteColor: white;

#skills {
  margin-top: 15rem;
  .skills_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include bp_tablet {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .PaddingWrapper {
      padding: 0 1.5rem;
      width: 100%;
      @include bp_laptop {
        width: 22rem;
      }
    }

    .skill_lists {
      padding: 0.5rem 0rem;
      margin-top: 2rem;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $bg-color;

      .fontend_skill_btn,
      .backend_skill_btn {
        width: 90%;
      }
    }

    .skill_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 0.8rem 0.5rem;
      p {
        margin-right: 1rem;
        color: $whiteColor;
      }
      i {
        color: $whiteColor;
      }
    }

    .skill_items {
      margin-top: 2rem;
      color: $whiteColor;

      p {
        color: $whiteColor;
      }

      .skill_des {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .progress_bar {
        margin: 0.5rem 0;
        width: 100%;
        background-color: rgb(85, 85, 85);
        height: 6px;

        div {
          background-color: $whiteColor;
          height: 6px;
        }
      }
      .react div {
        width: 40%;
      }
      .javascript div {
        width: 90%;
      }
      .jquery div {
        width: 80%;
      }
      .bootstrap div {
        width: 90%;
      }
      .sass div {
        width: 90%;
      }
      .css3 div {
        width: 90%;
      }
      .html5 div {
        width: 100%;
      }
      .java div {
        width: 80%;
      }
      .python div {
        width: 85%;
      }
      .netCore div {
        width: 70%;
      }
      .django div {
        width: 85%;
      }
      .php div {
        width: 70%;
      }
      .cAndCPlus div {
        width: 95%;
      }
    }
  }
}
