$bg-color: #001131;
$title-color: #474747;
$text-color: #666666;

@mixin bp_mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin bp_tablet {
  @media only screen and (min-width: 481px) {
    @content;
  }
}

@mixin bp_laptop {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin bp_large_laptop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 18px;
  @include bp_mobile {
    font-size: 16px;
  }
  font-family: "Lato";
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  color: $bg-color;
}

h1,
h2,
h3 {
  font-size: 1.17rem;
  color: $bg-color;
}

p {
  color: $text-color;
}

i {
  color: $bg-color;
}

// Container

.container {
  width: 90%;
  @include bp_large_laptop {
    width: 80%;
  }
  @include bp_large_laptop {
    width: 1024px;
  }
  margin: 0 auto;
}

// button style

.btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  background-color: $bg-color;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

// Card Style

@import "card";

// Navigation Style

.navbar {
  position: fixed;
  width: 100%;
  top: 0;

  .container {
    padding-top: 2rem;

    @include bp_laptop {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      align-items: center;
    }

    .nav_title {
      display: flex;
      justify-content: space-between;
      @include bp_laptop {
        width: 20%;
      }
      a {
        font-size: 1.5rem;
        font-weight: bold;
      }

      #nav_menu_icon {
        @include bp_laptop {
          display: none;
        }
      }
    }

    background-color: white;
  }
}

.nav_menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 100%;

  @include bp_laptop {
    flex-direction: row;
    height: 39px;
    justify-content: right;
    width: 70%;
  }

  li {
    width: 100%;
    border-bottom: 1px solid black;
    @include bp_laptop {
      border: none;
      width: 5rem;
    }
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    @include bp_laptop {
      padding: 0;
      text-align: center;
    }
  }
  a:hover {
    font-weight: bold;
  }
}

.hide {
  display: none;
  @include bp_laptop {
    display: flex;
  }
}

.hideMenu {
  display: none;
}

// home style

@import "home";

// Header style

.header_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  p {
    font-size: 0.8rem;
  }
}

// About style

@import "about";

// Skill style

@import "skills";

// Portfolio Style

#portfolio {
  margin-top: 15rem;
  .portfolio_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp_tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

// Contact Style

@import "contact";

#footer {
  text-align: center;
  margin-top: 10rem;
  padding: 2rem;
  .footer_contacts i {
    margin: 0 1rem;
  }
  .dev_info {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
