@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
    font-family: "Poppins", ui-sans-serif, sans-serif;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.no-scroll {
    overflow: hidden;
}

pre[class*="language-"],
code[class*="language-"],
.token {
    background: #f3f4f6 !important;
}

/* Make code selection transparent and follow your own styles */
code[class*="language-"]::selection,
pre[class*="language-"]::selection,
.token::selection {
    background: rgba(
        154,
        170,
        222,
        0.2
    ) !important; /* semi-transparent white */
    color: inherit; /* keep token colors */
}

/* For Firefox */
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
.token::-moz-selection {
    background: rgba(145, 152, 217, 0.2) !important;
    color: inherit;
}
